<div class="booking-modal">
  <section class="booking__info">
    <p class="info__tutor-name">Book with {{ booking.TutorName }}</p>
    <p class="info__booking-time">{{ booking.TimeSlot }}</p>
  </section>
  <p>Your Contact Info</p>
  <form
    class="booking-form"
    hx-post="{{ url_for('bookings.submit_booking', tutor_id=booking.TutorID, booking_id=booking.BookingID) }}"
    hx-swap="none"
  >
    <input required name="first-name" type="text" placeholder="First" />
    <input required name="last-name" type="text" placeholder="Last" />
    <input required name="email" type="email" placeholder="Email" />
    <div class="booking"></div>
    <button
      hx-get="{{ url_for('bookings.get_time_slots', tutor_id=booking.TutorID) }}"
      hx-target=".booking-modal"
      hx-swap="outerHTML"
    >
      Cancel
    </button>
    <button type="submit">Submit</button>
  </form>
</div>
