<!-- format fxn and styles expected from tutor-detail page -->
<fieldset class="time-slots-table">
  <div class="time-slots-column">
    <p class="time-slots__date">{{ dates['previous'] }}</p>
    {% for ts in time_slots['previous'] %} {% if ts['BookingID'] ==
    selected_booking_id %}
    <div class="time-slot --clicked">
      <label class="time-slot__time">
        <input type="radio" id="{{ ts['BookingID'] }}" />
        <p class="time__label">{{ ts['TimeSlot']}}</p>
      </label>
      <button
        hx-get="{{ url_for('bookings.get_form', booking_id=ts['BookingID']) }}"
        hx-target="closest fieldset"
        hx-swap="outerHTML"
        class="booking-button"
      >
        Book Now
      </button>
    </div>
    {% else %}
    <div
      class="time-slot"
      hx-get="{{ url_for('bookings.get_time_slots', bookingID=ts['BookingID'], tutor_id=tutor_id, selectedDate=selected_date) }}"
      hx-target="closest fieldset"
      hx-swap="outerHTML"
    >
      <label class="time-slot__time">
        <input type="radio" id="{{ ts['BookingID'] }}" />
        <p class="time__label">{{ ts['TimeSlot']}}</p>
      </label>
    </div>
    {% endif %} {% endfor %}
  </div>
  <div class="time-slots-column">
    <p class="time-slots__date">{{ dates['selected'] }}</p>
    {% for ts in time_slots['selected'] %} {% if ts['BookingID'] ==
    selected_booking_id %}
    <div class="time-slot --clicked">
      <label class="time-slot__time">
        <input type="radio" id="{{ ts['BookingID'] }}" />
        <p class="time__label">{{ ts['TimeSlot']}}</p>
      </label>
      <button
        hx-get="{{ url_for('bookings.get_form', booking_id=ts['BookingID']) }}"
        hx-target="closest fieldset"
        hx-swap="outerHTML"
        class="booking-button"
      >
        Book Now
      </button>
    </div>
    {% else %}
    <div
      class="time-slot"
      hx-get="{{ url_for('bookings.get_time_slots', bookingID=ts['BookingID'], tutor_id=tutor_id, selectedDate=selected_date) }}"
      hx-target="closest fieldset"
      hx-swap="outerHTML"
    >
      <label class="time-slot__time">
        <input type="radio" id="{{ ts['BookingID'] }}" />
        <p class="time__label">{{ ts['TimeSlot']}}</p>
      </label>
    </div>
    {% endif %}{% endfor %}
  </div>
  <div class="time-slots-column">
    <p class="time-slots__date">{{ dates['next'] }}</p>
    {% for ts in time_slots['next'] %}{% if ts['BookingID'] ==
    selected_booking_id %}
    <div class="time-slot --clicked">
      <label class="time-slot__time">
        <input type="radio" id="{{ ts['BookingID'] }}" />
        <p class="time__label">{{ ts['TimeSlot']}}</p>
      </label>
      <button
        hx-get="{{ url_for('bookings.get_form', booking_id=ts['BookingID']) }}"
        hx-target="closest fieldset"
        hx-swap="outerHTML"
        class="booking-button"
      >
        Book Now
      </button>
    </div>
    {% else %}
    <div
      class="time-slot"
      hx-get="{{ url_for('bookings.get_time_slots', bookingID=ts['BookingID'], tutor_id=tutor_id, selectedDate=selected_date) }}"
      hx-target="closest fieldset"
      hx-swap="outerHTML"
    >
      <label class="time-slot__time">
        <input type="radio" id="{{ ts['BookingID'] }}" />
        <p class="time__label">{{ ts['TimeSlot']}}</p>
      </label>
    </div>
    {% endif %} {% endfor %}
  </div>
</fieldset>
<script>
  // localize times and dates to client
  document.querySelectorAll('.time__label').forEach((l) => {
    l.textContent = new Date(`2000-05-31T${l.textContent}`).toLocaleTimeString(
      'en-US',
      {
        hour: '2-digit',
        minute: '2-digit',
      }
    );
  });
  document.querySelectorAll('.time-slots__date').forEach((d) => {
    d.textContent = new Date(d.textContent + 'T00:00:00').toLocaleDateString(
      'en-US',
      {
        month: 'short',
        day: '2-digit',
      }
    );
  });
</script>
