:root {
  --primary-color: #b5bdc2;
  --secondary-color: hsl(205, 75%, 50%);
  --dark-secondary-color: rgb(12, 67, 170);
  --dark-color: #202020f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Times New Roman', Times, serif;
  color: var(--dark-color);
}

/* helps w using rem units on text: 10px = 1rem */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem; /* 16px */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.calendars-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.flash {
  display: block;
  background-color: #2fdc2f !important;
  color: white;
  font-weight: bold;
  padding: 12px;
  border: 1px solid black;
  border-radius: 8px;
  margin: 16px;
}
.hide {
  display: none;
}
