:root {
  --primary-color: #b5bdc2;
  --secondary-color: #4378be;
  --dark-color: #202020f1
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calendars-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.intro-text {
  width: 60vw;
  text-align: center;
}
