:root {
  --primary-color: #b5bdc2;
  --secondary-color: #0e69e0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calendars-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.intro-text {
  width: 60vw;
  text-align: center;
}
