#modal-placeholder {
  display: none;
}

.main-contents {
  display: flex;
  flex-direction: column;
  padding: 2% 5.4%;
}

/* Row 1 */
.booking-tutor-wrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 5%;
}

.booking-tutor-wrapper::after {
  content: '';
  position: absolute;
  bottom: -30px;
  width: calc(50% + 230px);
  height: 4px;
  background: var(--secondary-color);
}

.booking-tutor__image {
  width: 200px;
  /* Temporary border for spacing */
  border: 1px solid var(--dark-color);
}

.booking-tutor-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
  gap: 4%;
}

/* Row 2 */
.booking-wrapper {
  display: flex;
  gap: 50px;
}

#calendar {
  --smart-calendar-default-width: 400px;
  --smart-calendar-default-height: 350px;
}

.smart-calendar-body {
  --smart-calendar-cell-size: 45px;
  font-size: 18px;
}

.time-slots {
  display: flex;
  gap: 2%;
}

.time-slot {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  padding: 15px 30px;
}

.time-slot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--primary-color);
  padding: 5px 2px;
  border-radius: 10px;
}

.time-slot-container-selected {
  border: 2px solid var(--secondary-color);
}

.time-slot__time {
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  height: 50px;
  background: #fff;
  color: var(--secondary-color);
  text-align: center;
  padding: 5px 3px;
  cursor: pointer;
  transition: border 0.1s ease;
  font-size: 16px;
}

.time-slot__time:hover {
  border: 1px solid var(--dark-color);
}

.time-slot__time-toggled {
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: #fff;
}

.time-slot__time-toggled:hover {
  border: 1px solid var(--secondary-color);
}

.time-slot__empty {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}

.time-slot__empty svg {
  width: 100%;
  height: 100%;
}

/* Row 3 */
.booking-btn-wrapper {
  display: flex;
  align-items: end;
  justify-content: end;
  flex: 1;
  padding: 35px 322px 0 0;
}

.booking-btn {
  visibility: hidden;
  color: #fff;
  padding: 3px 15px;
  font-size: 1.5rem;
  border-radius: 8px;
  background: var(--secondary-color);
  cursor: pointer;
  outline: none;
  transition: background 0.3s ease;
  border: none;
}

.booking-btn:hover {
  color: #fff;
  background: var(--dark-secondary-color);
}

.footer {
  margin-top: 70px;
}
