.tutor-list-header {
  position: relative;
  width: 100%;
  color: var(--secondary-color);
  font-size: 1.5rem;
  padding: 30px 25% 30px 25%;
  margin-bottom: 30px;
}

.tutor-list-header::after {
  content: '';
  position: absolute;
  bottom: 10px;
  width: 50%;
  height: 4px;
  background: var(--secondary-color);
}

.tutor-list-header-heading {
  line-height: 1.2;
  font-weight: 600;
}

.tutor-list-header-subheading {
  color: var(--dark-color);
}

.tutors-wrapper {
  padding: 20px;
  width: 100%;
  align-items: center;
}

.tutors-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 25%;
  gap: 15px;
}

.tutors-list__item-wrapper {
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  min-width: 30%;
  min-height: auto;
  display: flex;
  flex-direction: row;
  padding: 20px 20px;
  gap: 2%;
  flex: 1;
  border: 2px solid var(--primary-color);
  transition: border 0.3s ease;
}

.tutors-list__item-wrapper:hover {
  border: 2px solid var(--secondary-color);
}

/* Col 1 */

/*
.tutors-list-item-image-col {
   
}
*/

.tutors-list-item__image {
  width: 150px;
  height: auto;
  margin-bottom: 5%;
  /* Temporary border for spacing */
  border: 1px solid var(--dark-color);
}

/* Col 2 */

.tutors-list-item-desc-col {
  align-items: left;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tutors-list-item__id {
  font-size: 1em;
}

.tutors-list-item__name {
  font-weight: 550;
  font-size: 1.5rem;
  color: var(--dark-color);
}

.bi-mortarboard-fill,
.tutors-list-item-subjects {
  color: #777373;
  font-weight: 300;
}

.tutors-list-item-certs {
  color: var(--dark-color);
  font-weight: 600;
}

.tutors-list-item-bio {
  font-weight: 300;
}

.read-more-btn {
  color: var(--dark-color);
  background: #fff;
  border: none;
  text-align: left;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 2%;
  align-self: flex-start;
}

.read-more-btn:hover {
  color: var(--secondary-color);
}

/* Col 3 */

.tutors-list-item-booking-col {
  flex: 1;
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.tutors-list__hyperlink {
  color: #fff;
  padding: 3px 15px;
  font-size: 1.2rem;
  border-radius: 8px;
  margin-left: 20px;
  margin-bottom: 2%;
  background: var(--secondary-color);
  cursor: pointer;
  outline: none;
  transition: 0.3s ease;
  border: none;
  text-decoration: none;
}

.tutors-list__hyperlink:hover {
  color: #fff;
  background: #0c43aa;
}
