{% extends 'layout.html' %} {% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/smart.default.css" />
<link rel="stylesheet" type="text/css" href="/static/css/hx-tutor-detail.css" />
{% endblock %} {% block content %}
<section
  id="tutor"
  class="tutor"
  hx-post="{{ url_for('bookings.generate_bookings', tutor_id=tutor['TutorID'])}}"
  hx-trigger="load"
  hx-swap="none"
  hx-vals="js:{'requestTime': formatDateWithTimezone(new Date())}"
  hx-target="this"
>
  <img
    class="tutor__image"
    src="{{ url_for('static', filename='images/Placeholder.jpg') }}"
  />
  <h1 class="tutor__name">{{ tutor.Name.title() }}</h1>
  <p class="tutor__bio">{{ tutor.bio or "lorem ipsum dolor" }}</p>
</section>
<section class="booking">
  <smart-calendar
    id="calendar"
    selection-mode="one"
    hide-other-month-days
    onchange="getSelectedAndSurroundingTimeSlots(event)"
  ></smart-calendar>
  <div class="time-slots"></div>
</section>
<script
  type="module"
  src="{{ url_for('static', filename='js/smart.calendar.js') }}"
></script>
<script>
  function getSelectedAndSurroundingTimeSlots(event) {
    const date = formatDateWithTimezone(new Date(event.detail.value));
    htmx.ajax(
      'GET',
      "{{ url_for('bookings.get_time_slots', tutor_id=tutor['TutorID']) }}",
      {
        values: { selectedDate: date },
        target: '.time-slots',
      }
    );
  }

  function configureCalendar() {
    const calendar = document.getElementById('calendar');
    calendar.min = new Date();
    const thirtyDaysAway = new Date();
    thirtyDaysAway.setDate(new Date().getDate() + 30);
    calendar.max = thirtyDaysAway;
  }
  document.addEventListener('DOMContentLoaded', configureCalendar);

  document.addEventListener(
    'htmx:afterRequest',
    function updateImportantDates(event) {
      if (event.detail.target.id === 'tutor') {
        const response = event.detail.xhr.response;
        const importantDates = JSON.parse(response);
        const calendar = document.getElementById('calendar');
        calendar.importantDates = importantDates;
      }
    }
  );

  /**
   * creates an ISO string including timezone offset
   */
  function formatDateWithTimezone(date) {
    const timezoneOffset = -date.getTimezoneOffset(); // in minutes
    const offsetHours = Math.floor(Math.abs(timezoneOffset) / 60);
    const offsetMinutes = Math.abs(timezoneOffset) % 60;
    const offsetSign = timezoneOffset >= 0 ? '+' : '-';
    const formattedOffset = `${offsetSign}${String(offsetHours).padStart(
      2,
      '0'
    )}:${String(offsetMinutes).padStart(2, '0')}`;

    const isoDateWithTimezone = `${date.getFullYear()}-${String(
      date.getMonth() + 1
    ).padStart(2, '0')}-${String(date.getDate()).padStart(2, '0')}T${String(
      date.getHours()
    ).padStart(2, '0')}:${String(date.getMinutes()).padStart(2, '0')}:${String(
      date.getSeconds()
    ).padStart(2, '0')}.${String(date.getMilliseconds()).padStart(
      3,
      '0'
    )}${formattedOffset}`;
    return isoDateWithTimezone;
  }
</script>
{% endblock %}
