<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=
    , initial-scale=1.0"
    />
    <link href="/static/css/main.css" rel="stylesheet" />
    <title>Sample Site</title>
    <script src="/static/js/htmx.2.0.1.min.js"></script>
    <!-- calendar component -->
    <!-- TODO: only include on pages which include the smartcalendar component -->
    <script type="module" src="/static/js/smart.calendar.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/smart.default.css"
    />
  </head>
  <body>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
