{% extends 'layout.html' %} {% block head %}
<!-- TODO: figure out why the calendar throws an error and looks weird when moving through browser history -->
<link rel="stylesheet" type="text/css" href="/static/css/smart.default.css" />
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/tutor-detail.css')}}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/booking.css')}}"
/>

{% endblock %} {% block content %}
<div id="modal-placeholder"></div>
<div
  class="main-contents"
  hx-post="{{ url_for('bookings.generate_bookings', tutor_id=tutor_id)}}"
  hx-trigger="load"
  hx-swap="none"
  hx-vals="js:{'requestTime': currentDateAsISO()}"
>
  <div class="booking-tutor-wrapper">
    <img
      class="booking-tutor__image"
      src="{{ url_for('static', filename='images/Placeholder.jpg') }}"
    />
    <div class="booking-tutor-info-container">
      <h1 class="booking-tutor__title">{{tutor_name.title()}}</h1>
      <p class="booking-tutor-bio">
        Hello my name is ___, I am a physicist, scientist and phd student. I
        have been teaching physics to schoolchildren and students since 2015. In
        my lessons, I try to adapt as much as possible to the level, needs and
        interests of the student.
      </p>
    </div>
  </div>
  <div class="booking-wrapper">
    <smart-calendar
      id="calendar"
      selection-mode="one"
      weeks="6"
    ></smart-calendar>
    <div class="time-slots">
      <div class="time-slot-container">
        <div class="time-slot__date" data-day-type="previous"></div>
        <div
          class="time-slot time-slot__preceding"
          id="timeslot-previous"
        ></div>
      </div>
      <div class="time-slot-container time-slot-container-selected">
        <div
          class="time-slot__date time-slot__date-selected"
          data-day-type="selected"
        ></div>
        <div
          class="time-slot time-slot__selected-day"
          id="timeslot-selected"
        ></div>
      </div>
      <div class="time-slot-container">
        <div class="time-slot__date" data-day-type="next"></div>
        <div class="time-slot time-slot__next-day" id="timeslot-next"></div>
      </div>
    </div>
    <button
      hx-get="{{ url_for('bookings.get_form') }}"
      hx-push-url="true"
      hx-target="#modal-placeholder"
      hx-swap="outerHTML"
      hx-vals="js:{'bookingID': selectedBookingID}"
    >
      Book Now
    </button>
  </div>
  <template id="timeslot-card">
    <button class="time-slot__time"></button>
  </template>
  <template id="timeslot-empty-card">
    <p class="time-slot__empty">{% include 'svg/empty-time-slot.html' %}</p>
  </template>
  <script
    type="module"
    src="{{ url_for('static', filename='js/smart.calendar.js') }}"
    defer
  ></script>
  <script type="module" defer>
    import {
      mapTimeSlotsFromDB,
      configureCalendar,
    } from '/static/js/calendar-util.js';
    const dbTimeSlots = JSON.parse('{{ db_time_slots | tojson | safe }}');
    console.log(dbTimeSlots);
    window.timeSlots = mapTimeSlotsFromDB(dbTimeSlots);
    configureCalendar(dbTimeSlots);

    const currentDateAsISO = () => {
      const now = new Date();
      console.log('hittin');
      return now.toISOString();
    };
    window.currentDateAsISO = currentDateAsISO;
  </script>
</div>
{% endblock %}
