{% extends 'layout.html' %} 

{% block head %}
<link href="/static/css/tutors.css" rel="stylesheet" />
{% endblock %}

{% block navbar %}
  {% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="tutor-list-header">
  <h1>herein lies a list of tutors</h1>
  <p>Get ready to dive deep into the mysteries of the universe with a qualified Physics tutor on Giron.</p>
</div>
<div class="tutors-wrapper">
  <ol class="tutors-list">
    {% for tutor in tutors %}
    <li class="tutors-list__item-wrapper">
      <a
        class="tutors-list__hyperlink"
        href="{{url_for('tutors.tutor_detail_view', tutor_id=tutor.TutorID)}}"
      >
        <p class="tutors-list-item__id">{{tutor.TutorID}}</p>
        <p class="tutors-list-item__name">{{tutor.Name}}</p>
      </a>
    </li>
    {% endfor %}
  </ol>
</div>
{% endblock %}
