<div>
  <div class="smart-wrapper">
    <h1>Select a Day</h1>
    <!-- Smart Calendar web component begin -->
    <smart-calendar id="calendar"></smart-calendar>
    <script>
      const APP_STATE = {
        selectedDate: new Date(),
      };
      console.log(`initial app state: ${JSON.stringify(APP_STATE)}`);
      const calendar = document.getElementById("calendar");
      calendar.addEventListener("change", (event) => {
        console.log(event);
        APP_STATE["selectedDate"] = new Date(event.detail.value);
      });
    </script>
    <!-- end Smart Calendar web component -->
    <script>
      console.log(APP_STATE);
    </script>
  </div>
</div>
