<link rel="stylesheet" type="text/css" href="/static/css/smart.default.css" />
<div class="calendar-wrapper">
  <h1>Select a Day</h1>
  <!-- Smart Calendar web component begin -->
  <smart-calendar id="calendar" selection-mode="one" weeks="2"></smart-calendar>
  <!-- end Smart Calendar web component -->
  <script type="module" src="/static/js/smart.calendar.js"></script>
  <script type="module">
    import { determineRestrictedDates } from "/static/js/calendar-util.js";
    const calendar = document.getElementById("calendar");
    calendar.restrictedDates = determineRestrictedDates("{{ days_available }}");
  </script>
</div>
